@page "/mangas"
@inject IMangaService _mangaService
@inject NavigationManager NavigationManager

<h1>Mangas</h1>

<div>
    <a class="btn btn-success" href="manga/create">New Manga</a>
</div>

<br />

@if (mangas != null)
{
    <table>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Publisher</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var manga in mangas)
            {
                <tr>
                    <td><img class="icon" src="@manga.Image" height="75" width="52"></td>
                    <td>@manga.Id</td>
                    <td>@manga.Title</td>
                    <td>@manga.Publisher</td>
                    <td>@manga.Price</td>
                    <td><a class="btn btn-primary" href="manga/edit/@manga.Id">Edit</a></td>
                    <td><a class="btn btn-danger" @onclick="@(() => Delete(manga.Id))" style="color: white">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <DisplayMessage ErrorMessage="@errorMessage" />
}

<Confirm @ref="confirm" onCancel="CancelConfirm" onConfirm="ConfirmDelete">
    <div>Do you really want to delete this item?</div>
</Confirm>

<Pagination totalPageAmount="totalPageAmount" currentPage="currentPage" 
            radius="3" selectedPage="SelectedPage">
</Pagination>

@code {
    private IEnumerable<MangaDTO> mangas = new List<MangaDTO>();
    private string? errorMessage = "Unable to access mangas";
    private MangaPaginationResponseDTO mangaPaginationDto = new MangaPaginationResponseDTO();
    private int totalPageAmount;
    private int currentPage = 1;

    Confirm? confirm;
    int mangaCode;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadMangas();
        }
        catch (UnauthorizedAccessException)
        {
            NavigationManager.NavigateTo("unauthorized");
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading mangas: {ex.Message}";
        }
    }

    async Task LoadMangas(int page = 1, int amountPerPage = 3)
    {
        try
        {
            mangaPaginationDto = await _mangaService.GetMangaPagination(page, amountPerPage);
            mangas = mangaPaginationDto.Mangas;
            totalPageAmount = mangaPaginationDto.TotalPages;
        }
        catch (Exception)
        {
            NavigationManager.NavigateTo("unauthorized");
        }
    }

    void Delete(int id)
    {
        confirm.Show();
        mangaCode = id;
    }

    void CancelConfirm()
    {
        confirm.Hide();
    }

    async Task ConfirmDelete()
    {
        await _mangaService.DeleteManga(mangaCode);
        confirm.Hide();
        await LoadMangas();
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadMangas(page);
    }
}
